@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap.';

$Irine: #000;
$The: #eee;
$AlgoQueen: #fff;

@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
    /* Light theme */
    body{
      color: $Irine;
      background-color: $AlgoQueen;
    }
  }
  
  @media screen and (prefers-color-scheme: dark) {
    /* Dark theme */
    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
      }

    body {
      color: $AlgoQueen;
      background-color: $Irine;
    }
  }
  
  h1 {
    font-size: 21px;
    font-weight: 200;
  }

  .main {
      display: flex;
      justify-content: space-between;
  }

  .navbar {
      display: flex;
      padding: 0 0 5em 0;
  }